<! -- filename = templates/base.html -- >
<! -- a standard HTML boilerplate with two template % blocks % -- >
<!DOCTYPE html>
<html>
   <head>
       <title>
           {% block title %}{% endblock %}
       </title>
   </head>
   <body>
       <header>
           <h1>1710 Pizza App</h1>
       </header>

       <main>
           {% block content %} PLACEHOLDER TEXT {% endblock %}
       </main>

       <footer>
           <br />
           <a href="http://127.0.0.1:3000/formExample">Click here to order</a>
       </footer>
   </body>
</html>


